<div class="container">
    <div class="columns is-multiline is-mobile">
        <div  *ngFor="let post of posts; index as i" class="column is-6">
            <img routerLink="/about-project" src="{{post.img}}">
            <div class="about">
                <h3>{{post.name}} {{i+1}}</h3>
                <p class="subtitle">{{post.subt}}</p>
                <p class="description">{{post.descript}}</p>
            </div>
        </div>
    </div>

    <div class="page">
        <span *ngFor="let number of numbers">{{number}}</span>
    </div>
</div>

        
    
    


