@import "../../assets/sass/variaveis.scss";

.column {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;

    img {
        width: 55%;
        height: auto;
        border-radius: 5%;
        transition: box-shadow .5s;

        &:hover {
            box-shadow: 5px 12px 25px 5px rgba(0, 0, 0, 0.632);
        }
        
    }
}

.about {

    h3 {
        margin-left: 50px;
        font-size: 30px;
        text-align: start;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $font-destaque;
    }

    .subtitle {
        margin-left: 50px;
        font-family: $font-geral;
        text-align: start;
    }

    .description {
        font-size: 15px;
        margin-left: 50px;
        text-align: start;
        font-family: $font-geral;
    }
}

.page {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: $font-geral;
    font-weight: bold;
    font-size: 30px;

    span {
        background: lightgray;
        border: 2px solid $cor-secundaria;
        margin-right: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 50%;
        transition: background .5s;

        &:hover {
            background: $cor-destaque;
        }
    }
}

@media (max-width: 1215px) {
    .column {
        img {
            width: 45%;
        }
    }
}

@media (max-width: 1023px) {
    .column {
        img {
            margin-left: 30px;
        }
    }

    .about {
        h3 {
            font-size: 23px;
        }

        .subtitle {
            display: none;
        }

        .description {
            font-size: 14px;
        }
    }
}

@media (max-width: 768px) {
    .column {
        img {
            width: 35%;
        }
    }

    .about {
        .subtitle {
            display: block;
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 15px;
            font-weight: bold;
        }
    }
}

@media (max-width: 480px) {
    .about {
        .subtitle {
            display: none;
        }
    }
}




