<div class="usual">
    <h2>--INTERPOLATION--</h2>
    <h2>Welcome from {{name}}!</h2>
    <h2>{{name.length}}</h2>
    <h2>{{name.toUpperCase()}}</h2>
    <h2>{{helloUser()}}</h2>
    <h2>The url for this site is {{siteUrl}}</h2>
</div>

<div class="usual">
    <h2>--CLASS BINDING--</h2>
    <h2 [class]="sucessClass">This is a green text</h2>
    <h2 [class.text-danger]="hasError">New attribute class synthax</h2> <!-- Eu posso dar um toggle na cor se eu mudar o valor do component "hasError"-->
    <h2 [ngClass]="messageClasses">Using ngClass</h2>
</div>

<div class="usual">
    <h2>--STYLE BINDING--</h2>
    <h2 [style.color]="'purple'">Simliar to class binding</h2>
    <h2 [style.color]="hasError ? 'darkorange' : 'darkpink'">Condicional operator to set this color</h2>
    <h2 [style.color]="highlightColor">Using component class</h2>
    <h2 [ngStyle]="titleStyles">Using ngStyles</h2>
</div>

<div class="usual">
    <h2>--EVENT BINDING--</h2>
    <button (click)="onClick($event)">Click Me for hello</button>
    <h2>{{hello}}</h2>
    <button (click)="hello='Bye'">Click Me for bye</button>
</div>

<div class="usual">
    <h2>Template Reference Variables</h2>
    <input #myinput type="text">
    <button class="btn" (click)="logMessage(myinput.value)">Go</button>
    <h2>{{message}}</h2>
</div>

<div class="usual">
    <h2>Two Way Binding</h2>
    <input [(ngModel)]="twoWay" type="text" placeholder="Type anything">
    <h2>{{twoWay}}</h2>
</div>

<div class="usual">
    <h2>ngIf Directive</h2>
    <h2 *ngIf="displayName; else elseBlock">Hello World</h2>
    <ng-template #elseBlock>
        <h2>Hidden h2</h2>
    </ng-template>
</div>

<div class="usual">
    <h2>ngSwitch Directive</h2>
    <div [ngSwitch]="colorNG">
        <h2 *ngSwitchCase="'red'">You picked the color red</h2>
        <h2 *ngSwitchCase="'green'">You picked the color green</h2>
        <h2 *ngSwitchCase="'blue'">You picked the color blue</h2>
        <h2 *ngSwitchDefault>Only red, green and blue are accepted</h2>
    </div>
</div>

<div class="usual">
    <h2>ngFor Directive</h2>
    <div *ngFor="let color of colors; index as i">
        <h2>{{i}} {{color}}</h2>
    </div>
</div>


