<div id="interpolation">
    <h2>--INTERPOLATION--</h2>
    <h2>Welcome from {{name}}!</h2>
    <h2>{{name.length}}</h2>
    <h2>{{name.toUpperCase()}}</h2>
    <h2>{{helloUser()}}</h2>
    <h2>The url for this site is {{siteUrl}}</h2>
</div>

<div id="class-binding">
    <h2>--CLASS BINDING--</h2>
    <h2 [class]="sucessClass">This is a green text</h2>
    <h2 [class.text-danger]="hasError">New attribute class synthax</h2> <!-- Eu posso dar um toggle na cor se eu mudar o valor do component "hasError"-->
    <h2 [ngClass]="messageClasses">Using ngClass</h2>
</div>

<div id="style-binding">
    <h2>--STYLE BINDING--</h2>
    <h2 [style.color]="'purple'">Simliar to class binding</h2>
    <h2 [style.color]="hasError ? 'darkorange' : 'darkpink'">Condicional operator to set this color</h2>
    <h2 [style.color]="highlightColor">Using component class</h2>
    <h2 [ngStyle]="titleStyles">Using ngStyles</h2>
</div>

<div id="event-binding">
    <h2>--EVENT BINDING--</h2>
    <button (click)="onClick($event)">Click Me for hello</button>
    <h2>{{hello}}</h2>
    <button (click)="hello='Bye'">Click Me for bye</button>
</div>

<div id="template-reference">
    <h2>Template Reference Variables</h2>
    <input #myinput type="text">
    <button class="btn" (click)="logMessage(myinput.value)">Go</button>
    <h2>{{message}}</h2>
</div>



