<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="../assets/imgs/logo-dev.jpg" width="60" height="150">
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item">
            PORTFÓLIO
            </a>
    
            <a class="navbar-item">
            SOBRE
            </a>
    
            <a class="navbar-item">
            CONTATO
            </a>
        </div>
        </div>
    </nav>
</header>
