@import "../../assets/sass/variaveis.scss";

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    

    a.navbar-item {
        transition: color .3s;
    }

    a.navbar-item:hover {
        color: $cor-destaque;
        background-color: white;
        border-bottom: 2px solid $cor-secundaria;
    }
}