<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="../assets/imgs/logo-dev.jpg" width="60" height="150">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item">
          PORTFÓLIO
        </a>

        <a class="navbar-item">
          SOBRE
        </a>

        <a class="navbar-item">
          CONTATO
        </a>
      </div>
    </div>
  </nav>
</header>


<div class="bg">
  <h1>{{ title }}</h1>
</div>

<section class="main">
  <h2><mark>Nossos cases<br>de sucesso</mark></h2>
  <h4>Lorem ipsum dolor sit amet consectetur<br>adipisicing elit. Voluptas vero</h4>
  <app-projects></app-projects>
</section>

<app-footer></app-footer>

<router-outlet></router-outlet>
