<app-header></app-header>

<div class="bg">
    <div class="container">
        <h1>PORTFÓLIO 1</h1>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Obcaecati nemo cumque deleniti sed, iusto officiis ipsum natus numquam dignissimos!</h3>
    </div>
</div>

<section class="main">
    <div class="intro">
        <h2><mark>Descrição</mark></h2>
        <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br>natus sapiente est similique!<br>harum rerum cumque quas a sequi rem accusantium,<br> Ut, ipsam. Ea optio repudiandae facere dolorum, odit cupiditate ab</h4>
    </div>
    
    <div class="container">
        <h2>O que fizemos</h2>
        <hr>

        <div class="content">
            <img src="../../assets/icons/web-programming.png">
            <img src="../../assets/icons/web-programming.png">
        </div>

        <div class="content">
            <p>Desenvolvimento web</p>
            <p>Desenvolvimento web</p>
        </div>

        <h2>Projeto final</h2>
        <hr>

        <img src="../../assets/imgs/computer.jpg">
    </div>
</section>

<app-footer></app-footer>