@import "../../assets/sass/variaveis.scss";

.bg {
    background-image: url(https://files.slack.com/files-pri/T04L38A0J-FLQK5U212/team.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h1 {
        color: white;
        padding-top: 5%;
        padding-bottom: 2%;
        font-size: 50px;
        font-family: $font-destaque;
        letter-spacing: 4px;
    }
    
    h3 {
        color: white;
        margin-top: 10px;
        padding-bottom: 50px;
        font-family: $font-geral;
    }
}

.main {
    background-image: url(../../assets/imgs/memphis-mini.png);
    background-attachment: scroll;
    
    .intro {

        h2 {
            padding-top: 5%;
            font-size: 50px;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-family: $font-destaque;
    
            mark {
                background: $cor-destaque;
            }
        }
    
        h4 {
            color: grey;
            margin-top: 40px;
            font-size: 20px;
            text-align: center;
            font-family: $font-geral;
        }
    }

    h2 {
        padding-top: 5%;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $font-destaque;
    }

    hr {
        margin: 0;
        width: 100px;
        height: 10px;
        background-color: green;
    }


    .content {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

        .icon-desc {
            margin-top: 50px;
            width: 20%;
            background-color: $cor-destaque;
            border-radius: 30%;
            padding: 15px;
            margin-bottom: 20px;
        }

        p {
            font-family: $font-geral;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .project-image {
        width: 50%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 25%;
        border-radius: 5%;
        box-shadow: 0px 12px 25px 5px rgba(0, 0, 0, 0.632);
    }
}

@media (max-width: 1023px) {
    .bg {
        h1 {
            margin-right: 25px;
            margin-left: 25px;
        }

        h3 {
            margin-right: 25px;
            margin-left: 25px;
        }
    }

    .main {
        h2 {
            margin-left: 25px;
        }

        hr {
            margin-left: 25px;
        }
    }
}

@media (max-width: 768px) {
    .bg {
        h3 {
            text-align: justify;
        }
    }

    .main {
        h2 {
            font-size: 30px;
        }

        hr {
            width: 80px;
            height: 7px;
        }

        .intro {
            h2 {
                font-size: 40px;
            }

            h4 {
                margin-left: 20px;
                margin-right: 20px;
                font-size: 17px;
                text-align: justify;
            }
        }

        .content {
            .icon-desc {
                margin-left: 25px;
                width: 25%;
            }

            p {
                margin-left: 25px;
                text-align: center;
                font-size: 14px;
            }
        }
        
    }
}

@media (max-width: 560px) {
    .main {
        .content {
            width: 70%;

            .icon-desc {
                margin-left: 20px;
                margin-right: 20px;
                width: 30%;
            }
        }
    }
}

@media (max-width: 430px) {
    .bg {
        h1 {
            text-align: center;
        }
    }

    .main {
        .content {
            .icon-desc {
                width: 35%;
            }
        }
    }
}



